body {
    text-align: center;
    font-family: arial;
}
canvas{
	margin-top: -30px;
}
.canvasText{
	position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    width: 450px;
    justify-content: space-between;
}
.canvasText.bottom{
	top: 519px;
	width: 496px;
}
h3 {
    font-size: 44px;
    color: black;
    -webkit-text-fill-color: yellow;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    margin: 0;
}
h4 {
    font-size: 30px;
    color: black;
    -webkit-text-fill-color: yellow;
    -webkit-text-stroke-width: 0.05em;
    -webkit-text-stroke-color: black;
    margin: 0;
}
.gameover{
	position: absolute;
    top: 250px;
    right: 0;
    left: 0;
    width: 400px;
    height: 150px;
    margin: auto;
    background: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    opacity: 0;
}